html {
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.submitInfo {
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.submitInfo:hover {
  cursor: pointer;
  padding: 8px;
  background-color: blue;
  color: #333;
  font-weight: bold;
}

.listaInformacija {
  list-style: none;
}
